<h1>Flag Shop</h1>

<hr />

<% if @flags.blank? %>
  <p>No flags available</p>
<% else %>
  <% @flags.each do |flag| %>
    <div class="flag">
      <h2><%= flag.country %></h2>
      <img src="<%= flag.image_url %>" /><br />
      <%= number_to_currency(flag.price, locale: :zmw) %>
    </div>
  <% end %>
<% end %>

<hr />

<p>Image credits <a href="https://www.worldometers.info" target="_blank">worldometer</a>.</p>
